html, body {
    margin: 0;
    padding: 0;
    width: 550px;
height: 550px;
left: 705px;
top: 718px;
background: #1F2937;
}

header{
font-family: 'Arial';
position: absolute;
width: 550px;
height: 260px;
left: 0px;
top: 0px;

background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}
h1{
    /* number to convert */
text-align: center;
padding: 10px 100px;

font-style: normal;
font-weight: 800;
font-size: 97.5723px;
line-height: 30px;

/* or 25% */
text-align: center;

color: white;
}

h3{
    /* Heading */
text-align: center;
/*padding: 10px 100px;*/

font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 38px;

/* identical to box height, or 173% */
text-align: center;
letter-spacing: -0.05em;

color: #FFFFFF;
}

main{
/* Supporting text */

position: absolute;
width: 346px;
height: 25px;
left: 102px;
top: 300px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 15px;

/* or 143% */
text-align: center;

color: #D2D2D2;
}

.subhead{
    /* Supporting text */
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;

/* or 143% */
text-align: center;

color: #FFFFFF;
}